# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables for Data Science tools
- Demonstrate arithmetic expressions
- Convert units using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
|---------------------|
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

## Author
Akash Verma